<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
  <canvas baseChart 
  [datasets]="barChart1Data"
  [labels]="barChart1Labels"
  [options]="barChartOptions"
  [legend]="barChart1Legend"
  [chartType]="barChart1Type">
</canvas>
  </mat-grid-tile>
  <mat-grid-tile>
<canvas baseChart 
  [datasets]="barChart2Data"
  [labels]="barChart2Labels"
  [options]="barChartOptions"
  [legend]="barChart2Legend"
  [chartType]="barChart2Type">
</canvas>
  </mat-grid-tile>

</mat-grid-list>
   
         
