<div class="container-fluid">

  <div class="grid-container">
    <div>
          <mat-card class="dashboard-card">
            <mat-card-header class="dashboard-card__header">
              <mat-card-title>
                <h3>{{'Transactions' | translate}}</h3>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item  (click)="changeDateRange('Channel SPEI')">{{'Channel SPEI' | translate}}</button>
                  <button mat-menu-item  (click)="changeDateRange('Channel SPEI')">{{'Channel SPID' | translate}}</button>
                  <button mat-menu-item  (click)="changeDateRange('Channel SPEI')">{{'Channel TEF' | translate}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <mifosx-bar-chart></mifosx-bar-chart>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
</div>
